h1{
      		background-color: #7d0202;
      		text-align: center;
                  color: #cf0404
            }
p{
      		color: #FF8C00;
      		font-family: cursive;
      		font-size: large;
                  text-align: center;
      	}
body{             background-color: #400202
 }

