h1{
      		background-color: #0B034F;
      		text-align: center;
                  color: #cf0404
            }
p{
      		color: white;
      		font-family: cursive;
      		font-size: large;
                  text-align: center;
      	}
body{             background-color: #020018;
 }

